@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

.btn-danger {
    color: #fff;
    background-color: #ef2323;
    border-color: #ef2323;
}

.an{
    margin-bottom: 15px;
}

.blocksA{
   height: 500px;
}

.blocksN{
   height: 450px;
}