<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> <!--подключение шаблонизатора thymeleaf-->
<head>
    <title th:text="${title}"/>
    <!--th - обращение к thymeleaf. :text - обращение к свойству "text" (установка текста).
    ${title} - передача параметра title из файла MainController-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!--подключение css файла-->
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header th:insert="blocks/header :: header"></header>
    <!--insert - встраивает фрагмент внутрь тега "путь :: фрагмент"-->
    <main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal tc"><ya-tr-span data-index="1-0" data-value="GUARD" data-translation="ОБЕРЕГ" data-type="trSpan">ОБЕРЕГ</ya-tr-span></h1>
            <p class="lead fw-normal tc"><ya-tr-span data-index="2-0" data-value="Social organization to help large families, the elderly, people with disabilities, children left without parental care."
               data-translation="Социальная организация для помощи многодетным семьям, пожилым людям, людям с ОВЗ, детям, оставшимся без попечения родителей."
               data-type="trSpan">Социальная организация, оказывающая помощь и поддержку многодетным семьям, пожилым людям, людям с ОВЗ, детям, оставшимся без попечения родителей.</ya-tr-span>
                <!--<ya-tr-span data-index="2-1" data-value="Jumpstart your marketing efforts with this example based on Apple’s marketing pages."
                data-translation="Начните свои маркетинговые усилия с этого примера, основанного на маркетинговых страницах Apple."
                data-type="trSpan">Начните свои маркетинговые усилия с этого примера, основанного на маркетинговых страницах Apple.</ya-tr-span>-->
            </p>
                <!--<a class="btn btn-outline-secondary" href="#"><ya-tr-span data-index="3-0" data-value="Coming soon" data-translation="Скоро выйдет"
                data-type="trSpan">Скоро выйдет</ya-tr-span></a>-->
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <div class="col an" th:each="el : ${posts}">
                    <div class="card shadow-sm blocks">
                        <img class="himg" th:src="${el.img}" >
                        <div class="card-body">
                            <h3 th:text="${el.title}"/>
                            <p th:text="${el.anons}"/>
                        </div>
                        <div class="btn-cont" style="padding-bottom: 20px; padding-left: 20px;">
                            <a th:href="'/news/' + ${el.id}" class="btn btn-danger">Детальнее</a>
                        </div>
                    </div>
                </div>

                <div class="col an" th:each="el : ${activities}" >
                    <div class="card shadow-sm blocks">
                        <img class="himg" th:src="${el.img}">
                        <div class="card-body">
                            <h3 th:text="${el.title}"/>
                            <p th:text="${el.anons}"/>
                            <p th:text="${el.data}"/>
                        </div>
                        <div class="btn-cont" style="padding-bottom: 20px; padding-left: 20px;">
                            <a th:href="'/news/' + ${el.id}" class="btn btn-danger">Детальнее</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col text-center bs">
                    <a th:href="'/news'" class="btn btn-danger size">Все новости</a>
                    <a th:href="'/activity'" class="btn btn-danger size">Все мероприятия</a>
                </div>
            </div>
        </div>
    </div>
    </main>

    <div th:insert="blocks/footer :: footer"></div>
    <!--insert - встраивает фрагмент внутрь тега "путь :: фрагмент"-->
</body>
</html>