<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> <!--подключение шаблонизатора thymeleaf-->
<head>
    <title>Информация</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!--подключение css файла-->
    <link rel="stylesheet" href="css/stylesInf.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<!--insert - встраивает фрагмент внутрь тега "путь :: фрагмент"-->
<div class="container mt-5">
    <!--container - встроенный класс, добавляющий отступы. mt-5 - отступы сверху, равные 5-ти пикс-->
    <h1>Информация</h1>
    <div class="album bg-light">
        <div class="container">
            <div class="row">
                <div>
                    <h1 class="headline H1" align="center"><span>О нас</span></h1>
                    <p class="typography"><strong>Целью Организации </strong>являются оказание социальной поддержки семьям, в том числе многодетным семьям, семьям с одним родителем, семьям с инвалидами, неблагополучным семьям, пожилым супружеским парам и одиноким пожилым людям;  содействие благополучию семьи.</p>
                    <p class="typography"><strong>Руководитель Огранизации: </strong>Гулевич Наталья Александровна</p>

                    <div class="advantages advantages--about">
<!--                        <h2 class="headline" align="center">Основными задачами Организации являются</h2>-->
                        <ol class="advantages-items Ul">
                            <li class="advantages-item text-red"><span>1</span><strong>Основными задачами Организации являются:</strong>
                                <div class="typography abc"><ul class="Ul">
                                    <li class="ol1 ot">пропаганда здорового образа жизни, формирование ответственного отношения к здоровью;</li>
                                    <li class="ol1 ot">пропаганда активной старости, оказание помощи людям старшего поколения;</li>
                                    <li class="ol1 ot">пропаганда семейных и человеческих ценностей;</li>
                                    <li class="ol1 ot">предотвращение и профилактика насилия в семье;</li>
                                    <li class="ol1 ot">укрепления внутрисемейных отношений;</li>
                                    <li class="ol1 ot">развитие института приемной семьи;</li>
                                    <li class="ol1 ot">профилактика социального сиротства.</li>
                                </ul>
                                </div></li>
                            <li class="advantages-item text-red"><span>2</span><strong>Виды деятельности Организации:</strong>
                                <div class="typography abc"><ul class="Ul">
                                    <li class="ol1 ot">социальные услуги  без обеспечения проживания для престарелых и инвалидов;</li>
                                    <li class="ol1 ot">услуги по дневному уходу за детьми;</li>
                                    <li class="ol1 ot">услуги социальные без обеспечения проживания прочие, не включенные в другие группировки;</li>
                                    <li class="ol1 ot">услуги в области спорта прочие;</li>
                                    <li class="ol1 ot">услуги прочих общественных организаций, не включенных в другие группировки;</li>
                                    <li class="ol1 ot">услуги в области издательской деятельности прочие;</li>
                                    <li class="ol1 ot">творчество художественное;</li>
                                    <li class="ol1 ot">юридические услуги;</li>
                                    <li class="ol1 ot">услуги в области физкультурно-оздоровительной деятельности;</li>
                                    <li class="ol1 ot">услуги персональные прочие, не включенные в другие группировки;</li>
                                    <li class="ol1 ot">услуги фитнес - центров;</li>
                                    <li class="ol1 ot">услуги в области медицины прочие;</li>
                                    <li class="ol1 ot">услуги по организации конференций и торговых выставок;</li>
                                    <li class="ol1 ot">услуги по исследованию конъюнктуры рынка и изучения общественного мнения и др.;</li>
                                    <li class="ol1 ot">медицинская, физическая, психологическая, трудовая и другие виды реабилитации взрослых и детей;</li>
                                    <li class="ol1 ot">осуществление долговременного ухода за пожилыми людьми;</li>
                                    <li class="ol1 ot">участие в международных, государственных, муниципальных и неправительственных программах, проектах и предприятиях, входящих в сферу интересов Организации;</li>
                                    <li class="ol1 ot">развитие сети частных домов престарелых и пансионатов;</li>
                                    <li class="ol1 ot">развитие института медиации для разрешения семейных, имущественных, трудовых, социальных и иных конфликтов;</li>
                                    <li class="ol1 ot">оказание юридической помощи и правовое просвещение;</li>
                                    <li class="ol1 ot">оказание психологической поддержки индивидуально или в группах;</li>
                                    <li class="ol1 ot">оказание помощи в приобретении необходимого для реабилитации оборудования или оказание содействия в получении его бесплатно в рамках государственных гарантий по индивидуальной программе реабилитации;</li>
                                    <li class="ol1 ot">организация просветительских и обучающих программ;</li>
                                    <li class="ol1 ot">редакционная - издательская деятельность с целью актуализации и привлечения внимания общественности к проблемам семьи, материнства, отцовства и детства;</li>
                                    <li class="ol1 ot">оказание иных информационных, консультативных, организационных, методических, представительских, издательских услуг российским и зарубежным научно-исследовательским, медицинским, педагогическим организациям, их сотрудникам, экспертам по вопросам сохранения и укрепления института семьи, укрепления детско-родительских отношений, профилактике социального сиротства; родительского ресурсосбережения, межпоколенческих конфликтов;</li>
                                    <li class="ol1 ot">взаимодействие и сотрудничество с иными общественными, в том числе благотворительными организациями; образовательными, медицинскими, социальными, культурно-досуговыми организациями всех фором собственности;  бизнес-сообществами; органами  власти, судами, контрольными и надзорными органами - в пределах их полномочий и компетенций применительно к данной Организации.</li>
                                </ul>
                                </div></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
<!--insert - встраивает фрагмент внутрь тега "путь :: фрагмент"-->
</body>
</html>