<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> <!--подключение шаблонизатора thymeleaf-->
<head>
    <title>Информация</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!--подключение css файла-->
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<!--insert - встраивает фрагмент внутрь тега "путь :: фрагмент"-->
<div class="container mt-5">
    <!--container - встроенный класс, добавляющий отступы. mt-5 - отступы сверху, равные 5-ти пикс-->
    <h1>Информация</h1>

</div>
<div th:insert="blocks/footer :: footer"></div>
<!--insert - встраивает фрагмент внутрь тега "путь :: фрагмент"-->
</body>
</html>